# Binaries
ivta.exe
ivta

# Test files
*_test.go

# Results
*.json
*.txt

# Wordlists
raft.txt
raft-small-directories-lowercase.txt

# Build artifacts
*.exe
*.out

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

/test_server
/fixes